PORT=0000
MONGODB_URI=mongodb+srv://yashsharmarohit21_db_user:123@cluster0.thxovc6.mongodb.net
CORS_ORIGIN=*

# cloudinary ka apikey id password ha 

CLOUDINARY_CLOUD_NAME=dyoy2gj890
CLOUDINARY_API_KEY=9887978900557269
CLOUDINARY_API_SECRET=5pW93gUBzdufGIsJSLXAN5yuiook

# access token or refresh token kuch iss tarika se banna chaiya
ACCESS_TOKEN_SECRET=TUVIJBPNNpcvHfWd252COVyBVSa2u4B1O8ae1rtmbKQ5lCo1lkZgBaW4HFhjuiohgf
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=fq0qhRUclwbpBm8wUgRLg4FzSVMEfF5WsUP2jdYPfUiM1GqzgvR9yuijkh3rmj6Ip
REFRESH_TOKEN_EXPIRY=10d